<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E08A6A71A87369000F6093C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E08A6BC1A87369000F6093C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF08F3C21AD8CE0700A5FECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF08F3CC1AD8CE0700A5FECD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
